* {
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 2%;
}

main {
    display: flex;
    margin-top: 2%;
}

.header {
    font-size: 300%;
    font-weight: 500;
    font-style: italic;
    display: flex;
    flex: 3 0 100px;
}

nav {
    font-size: 200%;
    font-weight: 300;
}

.container {
    position: relative;
    text-align: center;
    font-size: 30px;
    color: white;
}

.bottom-right {
    position: absolute;
    bottom: 8px;
    right: 16px;
}

.sub-header {
    width: 100px;
    height: 100px;
    float: left;
    margin: 3px;
    padding: 3px;
}

.box {
    flex: 1 0 0;
    padding: 10px;
    text-align: center;
    border-style: solid;
    border-width: 1px;
}

.box header {
    padding: 20px;
    background: rgb(76, 118, 79);
    color: white;
}

 footer {
    text-align: center;
    font-size: 100%;
    font-family: Arial, Helvetica, sans-serif;
 }