root {
    font-size: 12px;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    height: 100%;
}

/* BODY */
body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 2%;
    background-color: rgb(118, 141, 118);
    min-height: auto;
    line-height: 2;
    font-size: 12px;
}

.mountain {
    display: flex;
    flex-direction: column;
    background-image: url("./Header-IMG.jpeg");
    background-size: cover;
    background-repeat: no-repeat;
    border-style: solid;
    border-color: rgb(76, 118, 79);
    min-height: 600px;
}

main {
    display: flex;
    margin-top: 2%;
}

.header {
    font-size: 6em;
    font-weight: 500;
    color: rgb(253, 248, 210);
    font-style: italic;
    display: flex;
    flex: 3 0 100px;
}
.baseline {
    display: flex;
    justify-content: space-between;
    border: none;
    margin: 2em 1em 3em;
}

/* NAVBAR */

.navbar {
    text-align: center;
    display: flex;
    align-items: center;
    cursor: pointer;
    border: none;
}

.navbar a {
    margin: 0 2em;

}
.navbar a button {
    font-size: 2em;
}

button:hover {
    background-color: rgb(103, 211, 112);
    opacity: 0.9;
}

.mountain-name {
    text-align: center;
    font-size: 30px;
    color: rgb(255, 255, 255);
}
/* BOXES */

.box {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    flex-direction: column;
    flex: 20 0 300px;
    padding: 15px;
    text-align: center;
    margin: 10px;
}

.box p {
    padding: 10px;
    border-style: solid;
    border-color: rgb(35, 66, 53);
    background: rgb(255, 255, 255);
    color: rgb(35, 66, 53);
    font-size: 1.2em;
}

h2 {
    border: solid 2px rgb(35, 66, 53);
    text-align: center;
    font-size: 2em;
    font-family: Arial, Helvetica, sans-serif;
    color:rgb(35, 66, 53);
 }

 footer {
    text-align: center;
    color: rgb(35, 66, 53);
 }

 @media screen and (max-width: 768px) {
    main,
    nav {
        flex-direction: row;
    }
 }